<p id="notice"><%= notice %></p>
<div class ="container-fluid">"
<h1>Listing Shows</h1>

<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th>Show</th>
      <th>Name</th>
      <th>Timeslot</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
   <% if current_user.admin %>
    <% @shows.each do |show| %>
     <% if show.station_id == current_user.station_id %>
      <tr>
        <td><%= show.show_id %></td>
        <td><%= show.name %></td>
        <td><%= show.timeslot %></td>
        <td><%= link_to 'Show', show %></td>
        <td><%= link_to 'Edit', edit_show_path(show) %></td>
        <td><%= link_to 'Destroy', show, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
     <% end %>
    <% end %>
   <% else %>
    <tr>
      <td>
        <h1>Access Denied, you are not an admin.</h1>
      </td>
   <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Show', new_show_path %>
