<%= javascript_include_tag 'profile' %>
<script type="text/javascript">
  var user_id = <%= current_user.id %>;
  var email = "<%= current_user.email %>";
  var password = "Radio789*";
</script>

<body ng-app="myApp" ng-controller="MyController">

<% if user_signed_in? %>
  <div class="container-fluid">

  </div>
  <div class="container ">
   <ul class="nav nav-tabs">
     <% playlist_count = 0 %>
     <% @userShows.each do |x| %>
       <% if x.user_id == current_user.id %>
         <% playlist_count += 1 %>
         <li <% if playlist_count == 1%>class="active"<%end%>><a href="#<%= x.show_id %>"><%= Show.find(x.show_id).name %></a></li>
       <% end %>
     <% end %>
   </ul>
   <%= render :partial => 'songs/form', :locals => {:song => @song, :playlist_id => 1} %>
  </div>
  <div class="container">
    <table class="table table-hover table-sm">
      <h4>Recently Played</h4>
      <thead class="thead-inverse">
        <tr>
          <th>Title</th>
          <th>Artist</th>
          <th>Album</th>
          <th>Label</th>
          <th>Genre</th>
        </tr>
        <tbody>
          <% results = Song.last(5).reverse %>
          <% results.each do |x| %>
            <tr>
              <td class="small-text"><%= x.title %></td>
              <td class="small-text"><%= x.artist %></td>
              <td class="small-text"><%= x.album %></td>
              <td class="small-text"><%= x.label %></td>
              <td class="small-text"><%= x.genre %></td>
            </tr>
          <% end %>
        </tbody>
      </thead>
    </table>
  </div>
<% else %>
  <%= yield %>
<% end %>
</body>
