<%= javascript_include_tag 'profile' %>
<script type="text/javascript">
  var current_user = <%= current_user.id %>;
  var email = "<%= current_user.email %>";
  var password = "Radio789*";
  var show_id = 1;
  var playlist_id = 1;
  var station_id = 1;
</script>

<body ng-app="myApp" ng-controller="MyController">

<% if user_signed_in? %>
  <div class="container ">
    <p class="text">Compliance = 55.1</p>
   <ul class="nav nav-tabs">
     <% playlist_count = 0 %>
     <% @userShows.each do |x| %>
       <% if x.user_id == current_user.id %>
         <% playlist_count += 1 %>
         <li <% if playlist_count == 1%>class="active"<%end%>><a href="#<%= x.show_id %>"><%= Show.find(x.show_id).name %></a></li>
       <% end %>
     <% end %>
   </ul>
     <table>
       <tr>
         <td>
           <label>Title</label></br>
           <input type="text" ng-model="new_title">
         </td>
         <td>
           <label>Artist</label></br>
           <input type="text" ng-model="new_artist">
         </td>
         <td>
           <label>Album</label></br>
           <input type="text" ng-model="new_album">
         </td>
         <td>
           <label>Label</label></br>
           <input type="text" ng-model="new_label">
         </td>
         <td>
           <label>Genre</label></br>
           <input type="text" ng-model="new_genre">
         </td>
       </tr>
     </table>
     <button class="btn" ng-click="addSong(1)">Submit</button>
  </div>
  <div class=" container container-fluid">
    <table class="table table-striped">
      <h4>Recently Played</h4>
      <thead class="thead-inverse">
        <tr>
          <th>Title</th>
          <th>Artist</th>
          <th>Album</th>
          <th>Label</th>
          <th>Genre</th>
        </tr>
        <tbody>
            <tr ng-repeat="s in songs | orderBy:'-time'">
              <td>{{s.title}}</td>
              <td>{{s.artist}}</td>
              <td>{{s.album}}</td>
              <td>{{s.label}}</td>
              <td>{{s.genre}}</td>
            </tr>
        </tbody>
      </thead>
    </table>
    <!--<table class="table table-hover table-sm">
      <h4>Recently Played</h4>
      <thead class="thead-inverse">
        <tr>
          <th>Title</th>
          <th>Artist</th>
          <th>Album</th>
          <th>Label</th>
          <th>Genre</th>
        </tr>
        <tbody>
          <% results = Song.last(5).reverse %>
          <% results.each do |x| %>
            <tr>
              <td class="small-text"><%= x.title %></td>
              <td class="small-text"><%= x.artist %></td>
              <td class="small-text"><%= x.album %></td>
              <td class="small-text"><%= x.label %></td>
              <td class="small-text"><%= x.genre %></td>
            </tr>
          <% end %>
        </tbody>
      </thead>
    </table>-->
  </div>
<% else %>
  <%= yield %>
<% end %>
</body>
