<script type="text/javascript">
  var user_id = <%= current_user.id %>;
  var email = <%= current_user.email %>;
  var password = "Radio789*";
</script>

<div class="container">
  <div class="jumbotron">
    <p>Hello, <%= current_user.name %></p>
    <p>Email = <%= current_user.email %></p>
    <p>User id = <%= current_user.id %></p>
    <p>Compliance = <%= current_user.compliance %></p>
  </div>
</div>
