<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @station.user_id %>
</p>

<p>
  <strong>Station:</strong>
  <%= @station.station_id %>
</p>

<p>
  <strong>Station name:</strong>
  <%= @station.station_name %>
</p>

<p>
  <strong>Station url:</strong>
  <%= @station.station_url %>
</p>

<%= link_to 'Edit', edit_station_path(@station) %> |
<%= link_to 'Back', stations_path %>
